@font-face {
    font-family: 'Rubik';
    src: url('Rubik-Bold.ttf');
}

.bodyBackground {
    font-family: 'Rubik';
    height:100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}